@model PaladinHub.Models.Products.CreateProductViewModel
@{
    ViewData["Title"] = "Create Product";
}

<link rel="stylesheet" href="/text.css" type="text/css" />
<h1 class="text-center">Create Product</h1>

<form asp-controller="Products" asp-action="Create" method="post" class="mx-auto half-width col-5">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

    <div class="top-border-line primary-separator"></div>

    <div class="form-group mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" placeholder="Name..." />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" placeholder="Price..." />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="ImageUrl" class="form-label"></label>
        <input asp-for="ImageUrl" class="form-control" placeholder="https://..." />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="top-border-line primary-separator"></div>

    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn SMS-bg-color">Create</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
