@{
    ViewData["Title"] = "Account Activated";
}

<div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #1c1c1c;">
    <div class="text-center">
        <h2 class="text-white mb-4">Account Activated</h2>
        <p class="text-white-50">
            Your account has been activated. Please proceed to the
            <a href="/Account/Login" style="color: #f5c518;">login page</a>!
        </p>
    </div>
</div>
