@model PaladinHub.Data.Entities.Item

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Item Details";
}

<h2>Item Details</h2>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">@Model.Description</dd>

    <dt class="col-sm-3">Quality</dt>
    <dd class="col-sm-9">@Model.Quality</dd>
</dl>

<a asp-area="Admin" asp-controller="Database" asp-action="Index" asp-route-entity="Items" class="btn btn-secondary">Back</a>
