@*

				<br>
				<br>
				<div class="wh-center" style="text-align: center;">
					<div class="dragonflight-talent-markup dragonflight-talent-embed exclude-units dragonflight-talent" style="margin: 0px auto; max-width: 1220px;">
						<div class="dragonflight-talent-trees">
							<div class="dragonflight-talent-trees-tree-background" data-tree-type="class">
								<div class="dragonflight-talent-trees-tree" data-tree="2" data-tree-type="class" data-read-only="1">
									<div class="dragonflight-talent-trees-tree-title" style="min-height: 68.3125px;">
										<img src="https://wow.zamimg.com/images/wow/icons/medium/class_paladin.jpg" class="dragonflight-talent-trees-tree-title-icon" alt="">
										<div class="dragonflight-talent-trees-tree-title-name">Paladin</div>
										<div class="dragonflight-talent-trees-tree-subtitle c2">
											<span class="dragonflight-talent-trees-tree-subtitle-line">
												<span class="dragonflight-talent-trees-tree-subtitle-label">Spent: </span>
												<span class="dragonflight-talent-trees-tree-subtitle-value">31&nbsp;/&nbsp;31</span>
											</span>
											<span class="dragonflight-talent-trees-tree-subtitle-line">
												<span class="dragonflight-talent-trees-tree-subtitle-label">Req Level: </span>
												<span class="dragonflight-talent-trees-tree-subtitle-value">70</span>
											</span>
										</div><a href="javascript:" class="btn btn-site btn-small dragonflight-talent-trees-tree-title-export click-to-copy" style="margin-left:5px;float:right" data-prevent-select-start="true">Export Talents</a>
										<a href="https://www.wowhead.com/talent-calc/paladin/holy/herald-of-the-sun/DARBQRQQRVYFREREUJgUCUUOVVRRVBUFBVUEUVCEFEFVVUBU" class="btn btn-site btn-small dragonflight-talent-trees-tree-title-open" style="margin-left:5px;float:right">Open in Calculator</a>
									</div>
									<div class="dragonflight-talent-tree">
										<div class="dragonflight-talent-tree-space" style="font-size: 9px;" data-no-points-margin="1">
											<div class="dragonflight-talent-tree-grid-parent">
												<div class="dragonflight-talent-tree-grid" data-read-only="1" data-fully-spent="1">

													<a class="dragonflight-talent-tree-talent" data-row="1" data-column="5" data-cell="4" data-talent-type="1" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=633/lay-on-hands?spellModifier=114154" data-spell-modifiers="114154,378425,387791" aria-label="Lay on Hands" data-full="1" data-available="1">
														<div class="dragonflight-talent-tree-talent-name">Lay on Hands</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_layonhands.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="1" data-column="5" data-cell="4" data-talent-type="1"></div>
													<div class="dragonflight-talent-tree-talent-found" data-row="1" data-column="5" data-cell="4" data-talent-type="1"></div>

													<a class="dragonflight-talent-tree-talent" data-row="1" data-column="9" data-cell="8" data-talent-type="1" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=385633/auras-of-the-resolute" data-spell-modifiers="339124" aria-label="Auras of the Resolute" data-full="1" data-available="1">
														<div class="dragonflight-talent-tree-talent-name">Auras of the Resolute</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_devotionaura.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="1" data-column="9" data-cell="8" data-talent-type="1"></div>
													<div class="dragonflight-talent-tree-talent-found" data-row="1" data-column="9" data-cell="8" data-talent-type="1"></div>

													<a class="dragonflight-talent-tree-talent" data-row="1" data-column="13" data-cell="12" data-talent-type="1" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=24275/hammer-of-wrath?spellModifier=137029" data-spell-modifiers="134735,137027,137029,383314" aria-label="Hammer of Wrath" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">Hammer of Wrath</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_paladin_hammerofwrath.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="1" data-column="13" data-cell="12" data-talent-type="1" data-points="1">1/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="1" data-column="13" data-cell="12" data-talent-type="1"></div>

													<a class="dragonflight-talent-tree-talent" data-row="2" data-column="3" data-cell="19" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=393024/improved-cleanse" aria-label="Improved Cleanse" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">Improved Cleanse</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_purify.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="2" data-column="3" data-cell="19" data-talent-type="2" data-points="1">1/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="2" data-column="3" data-cell="19" data-talent-type="2"></div>
													<a class="dragonflight-talent-tree-talent" data-row="2" data-column="5" data-cell="21" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=387791/empyreal-ward" aria-label="Empyreal Ward">
														<div class="dragonflight-talent-tree-talent-name">Empyreal Ward</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_layonhands.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="2" data-column="5" data-cell="21" data-talent-type="2">0/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="2" data-column="5" data-cell="21" data-talent-type="2"></div>

													<a class="dragonflight-talent-tree-talent" data-row="2" data-column="7" data-cell="23" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=234299/fist-of-justice" aria-label="Fist of Justice">
														<div class="dragonflight-talent-tree-talent-name">Fist of Justice</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_fistofjustice.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="2" data-column="7" data-cell="23" data-talent-type="2">0/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="2" data-column="7" data-cell="23" data-talent-type="2"></div>

													<a class="dragonflight-talent-tree-talent" data-row="2" data-column="11" data-cell="27" data-talent-type="3" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=115750/blinding-light" data-spell-modifiers="469325" data-choice-href0="https://www.wowhead.com/spell=20066/repentance" data-choice-href1="https://www.wowhead.com/spell=115750/blinding-light" aria-label="Blinding Light" data-available="1" data-full="1" data-choice-background="1">
														<div class="dragonflight-talent-tree-talent-name">Repentance / Blinding Light</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background lazy-load-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_prayerofhealing.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/ability_paladin_blindinglight.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="2" data-column="11" data-cell="27" data-talent-type="3" data-points="1">1/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="2" data-column="11" data-cell="27" data-talent-type="3"></div>

													<a class="dragonflight-talent-tree-talent" data-row="2" data-column="15" data-cell="31" data-talent-type="1" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=10326/turn-evil" aria-label="Turn Evil">
														<div class="dragonflight-talent-tree-talent-name">Turn Evil</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/ability_paladin_turnevil.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="2" data-column="15" data-cell="31" data-talent-type="1">0/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="2" data-column="15" data-cell="31" data-talent-type="1"></div>
													<a class="dragonflight-talent-tree-talent" data-row="3" data-column="3" data-cell="36" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=469411/a-just-reward?spellModifier=137029" data-spell-modifiers="137027,137028,137029" aria-label="A Just Reward" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">A Just Reward</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_blindingheal.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="3" data-column="3" data-cell="36" data-talent-type="2" data-points="1">1/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="3" data-column="3" data-cell="36" data-talent-type="2"></div>

													<a class="dragonflight-talent-tree-talent" data-row="3" data-column="5" data-cell="38" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=385414/afterimage" aria-label="Afterimage" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">Afterimage</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_aspiration.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="3" data-column="5" data-cell="38" data-talent-type="2" data-points="1">1/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="3" data-column="5" data-cell="38" data-talent-type="2"></div>

													<a class="dragonflight-talent-tree-talent" data-row="3" data-column="9" data-cell="42" data-talent-type="1" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=190784/divine-steed?spellModifier=137029:230332" data-spell-modifiers="137027,137028,137029,230332,317911,432990,469409" aria-label="Divine Steed" data-full="1" data-available="1">
														<div class="dragonflight-talent-tree-talent-name">Divine Steed</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/ability_paladin_divinesteed.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="3" data-column="9" data-cell="42" data-talent-type="1"></div>
													<div class="dragonflight-talent-tree-talent-found" data-row="3" data-column="9" data-cell="42" data-talent-type="1"></div>

													<a class="dragonflight-talent-tree-talent" data-row="3" data-column="11" data-cell="44" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=469325/lights-countenance" aria-label="Light's Countenance">
														<div class="dragonflight-talent-tree-talent-name">Light's Countenance</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_shoulder_raidpaladindragon_d_01.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="3" data-column="11" data-cell="44" data-talent-type="2">0/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="3" data-column="11" data-cell="44" data-talent-type="2"></div>
													<a class="dragonflight-talent-tree-talent" data-row="3" data-column="13" data-cell="46" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=260369/unbreakable-spirit" aria-label="Unbreakable Spirit">
														<div class="dragonflight-talent-tree-talent-name">Unbreakable Spirit</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_unyieldingfaith.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="3" data-column="13" data-cell="46" data-talent-type="2">0/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="3" data-column="13" data-cell="46" data-talent-type="2"></div>

													<a class="dragonflight-talent-tree-talent" data-row="3" data-column="15" data-cell="48" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=379008/seal-of-mercy" aria-label="Seal of Mercy">
														<div class="dragonflight-talent-tree-talent-name">Seal of Mercy</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/ability_paladin_glyph_sealofmercy.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="3" data-column="15" data-cell="48" data-talent-type="2">0/2</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="3" data-column="15" data-cell="48" data-talent-type="2"></div>

													<a class="dragonflight-talent-tree-talent" data-row="4" data-column="1" data-cell="49" data-talent-type="1" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=183218/hand-of-hindrance" aria-label="Hand of Hindrance">
														<div class="dragonflight-talent-tree-talent-name">Hand of Hindrance</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_persuitofjustice.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="4" data-column="1" data-cell="49" data-talent-type="1">0/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="4" data-column="1" data-cell="49" data-talent-type="1"></div>

													<a class="dragonflight-talent-tree-talent" data-row="4" data-column="3" data-cell="51" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=378457/moment-of-compassion" aria-label="Moment of Compassion" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">Moment of Compassion</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/ability_priest_flashoflight.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="4" data-column="3" data-cell="51" data-talent-type="2" data-points="1">1/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="4" data-column="3" data-cell="51" data-talent-type="2"></div>
													<a class="dragonflight-talent-tree-talent" data-row="4" data-column="5" data-cell="53" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=379021/reclamation" aria-label="Reclamation">
														<div class="dragonflight-talent-tree-talent-name">Reclamation</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/ability_paladin_glyph_templarverdict.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="4" data-column="5" data-cell="53" data-talent-type="2">0/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="4" data-column="5" data-cell="53" data-talent-type="2"></div>

													<a class="dragonflight-talent-tree-talent" data-row="4" data-column="9" data-cell="57" data-talent-type="1" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=377043/seal-of-the-crusader" aria-label="Seal of the Crusader" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">Seal of the Crusader</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_crusaderstrike.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="4" data-column="9" data-cell="57" data-talent-type="1" data-points="1">1/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="4" data-column="9" data-cell="57" data-talent-type="1"></div>

												</div> <!-- End of talent-tree-grid -->
											</div> <!-- End of grid-parent -->
										</div> <!-- End of space -->
									</div> <!-- End of talent-tree -->
									<div class="dragonflight-talent-trees-tree-subtitle c2 dragonflight-talent-trees-tree-subtitle-lower">
										<span class="dragonflight-talent-trees-tree-subtitle-line">
											<span class="dragonflight-talent-trees-tree-subtitle-label">Spent: </span>
											<span class="dragonflight-talent-trees-tree-subtitle-value">31&nbsp;/&nbsp;31</span>
										</span><span class="dragonflight-talent-trees-tree-subtitle-line">
											<span class="dragonflight-talent-trees-tree-subtitle-label">Req Level: </span>
											<span class="dragonflight-talent-trees-tree-subtitle-value">70</span>
										</span>
									</div>
								</div>
							</div>
							<div class="dragonflight-talent-trees-tree-background" data-tree-type="spec">
								<div class="dragonflight-talent-trees-tree" data-tree="65" data-tree-type="spec" data-read-only="1">
									<div class="dragonflight-talent-trees-tree-title" style="min-height: 68.3125px;">
										<img src="https://wow.zamimg.com/images/wow/icons/medium/spell_holy_holybolt.jpg" class="dragonflight-talent-trees-tree-title-icon" alt="">
										<div class="dragonflight-talent-trees-tree-title-name">
											Holy
										</div>
										<div class="dragonflight-talent-trees-tree-subtitle c2">
											<span class="dragonflight-talent-trees-tree-subtitle-line">
												<span class="dragonflight-talent-trees-tree-subtitle-label">
													Spent:
												</span>
												<span class="dragonflight-talent-trees-tree-subtitle-value">
													30 / 30
												</span>
											</span>
											<span class="dragonflight-talent-trees-tree-subtitle-line">
												<span class="dragonflight-talent-trees-tree-subtitle-label">
													Req Level:
												</span>
												<span class="dragonflight-talent-trees-tree-subtitle-value">
													69
												</span>
											</span>
										</div>
										<a href="javascript:" class="btn btn-site btn-small dragonflight-talent-trees-tree-title-export click-to-copy" style="margin-left:5px;float:right" data-prevent-select-start="true">
											Export Talents
										</a>
										<a href="https://www.wowhead.com/talent-calc/paladin/holy/herald-of-the-sun/DARBQRQQRVYFREREUJgUCUUOVVRRVBUFBVUEUVCEFEFVVUBU" class="btn btn-site btn-small dragonflight-talent-trees-tree-title-open" style="margin-left:5px;float:right">
											Open in Calculator
										</a>
									</div>
									<div class="dragonflight-talent-tree">
										<div class="dragonflight-talent-tree-space" style="font-size: 9px;" data-no-points-margin="1">
											<div class="dragonflight-talent-tree-grid-parent">

												<div class="dragonflight-talent-tree-grid" data-read-only="1" data-fully-spent="1">
													<a class="dragonflight-talent-tree-talent" data-row="1" data-column="9" data-cell="8" data-talent-type="1" data-tooltip-mode="icon" data-no-touch-lightbox="true"
													   href="https://www.wowhead.com/spell=20473/holy-shock?spellModifier=414073" data-spell-modifiers="414073" aria-label="Holy Shock" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">
															Holy Shock
														</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background"
																	 style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_searinglight.jpg&quot;),
																		url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame">
															</div>
														</div>
													</a>

													<div class="dragonflight-talent-tree-talent-points" data-row="1" data-column="9" data-cell="8" data-talent-type="1" data-points="1">
														1/1
													</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="1" data-column="9" data-cell="8" data-talent-type="1">
													</div>
													<a class="dragonflight-talent-tree-talent" data-row="2" data-column="7" data-cell="23" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=461278/extrication" aria-label="Extrication" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">
															Extrication
														</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_spiritualguidence.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame">
															</div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="2" data-column="7" data-cell="23" data-talent-type="2" data-points="1">
														1/1
													</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="2" data-column="7" data-cell="23" data-talent-type="2">
													</div>
													<a class="dragonflight-talent-tree-talent" data-row="2" data-column="11" data-cell="27" data-talent-type="1" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=85222/light-of-dawn" data-spell-modifiers="337812,387879" aria-label="Light of Dawn" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">
															Light of Dawn
														</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_paladin_lightofdawn.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame">
															</div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="2" data-column="11" data-cell="27" data-talent-type="1" data-points="1">
														1/1
													</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="2" data-column="11" data-cell="27" data-talent-type="1">
													</div>
													<a class="dragonflight-talent-tree-talent" data-row="3" data-column="5" data-cell="38" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=414073/lights-conviction" aria-label="Light's Conviction" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">
															Light's Conviction
														</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/paladin_holy.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame">
															</div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="3" data-column="5" data-cell="38" data-talent-type="2" data-points="1">
														1/1
													</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="3" data-column="5" data-cell="38" data-talent-type="2">
													</div>
													<a class="dragonflight-talent-tree-talent" data-row="3" data-column="9" data-cell="42" data-talent-type="1" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=31821/aura-mastery" data-spell-modifiers="199324,344217,344218,344219,344220,392911" aria-label="Aura Mastery" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">
															Aura Mastery
														</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_auramastery.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame">
															</div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="3" data-column="9" data-cell="42" data-talent-type="1" data-points="1">
														1/1
													</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="3" data-column="9" data-cell="42" data-talent-type="1">
													</div>
													<a class="dragonflight-talent-tree-talent" data-row="3" data-column="13" data-cell="46" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=197446/beacon-of-the-lightbringer" aria-label="Beacon of the Lightbringer" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">
															Beacon of the Lightbringer
														</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_paladin_clarityofpurpose.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame">
															</div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="3" data-column="13" data-cell="46" data-talent-type="2" data-points="1">
														1/1
													</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="3" data-column="13" data-cell="46" data-talent-type="2">
													</div>
													<a class="dragonflight-talent-tree-talent" data-row="4" data-column="3" data-cell="53" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=231642/tower-of-radiance" aria-label="Tower of Radiance" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">
															Tower of Radiance
														</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_helm_plate_raidpaladinmythic_q_01.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame">
															</div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="4" data-column="3" data-cell="53" data-talent-type="2" data-points="1">
														1/1
													</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="4" data-column="3" data-cell="53" data-talent-type="2">
													</div>
													<a class="dragonflight-talent-tree-talent" data-row="4" data-column="7" data-cell="57" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=414720/tirions-devotion" aria-label="Tirion's Devotion">
														<div class="dragonflight-talent-tree-talent-name">
															Tirion's Devotion
														</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_revivechampion.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame">
															</div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="4" data-column="7" data-cell="57" data-talent-type="2">
														0/1
													</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="4" data-column="7" data-cell="57" data-talent-type="2">
													</div>
													<a class="dragonflight-talent-tree-talent" data-row="4" data-column="11" data-cell="61" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=387998/unending-light" aria-label="Unending Light" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">
															Unending Light
														</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_holybolt.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame">
															</div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="4" data-column="11" data-cell="61" data-talent-type="2" data-points="1">
														1/1
													</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="4" data-column="11" data-cell="61" data-talent-type="2">
													</div>
													<a class="dragonflight-talent-tree-talent" data-row="4" data-column="15" data-cell="65" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=417855/awestruck" aria-label="Awestruck" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">
															Awestruck
														</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/ability_paladin_blindinglight2.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame">
															</div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="4" data-column="15" data-cell="65" data-talent-type="2" data-points="1">
														1/1
													</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="4" data-column="15" data-cell="65" data-talent-type="2">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="dragonflight-talent-trees-tree-subtitle c2 dragonflight-talent-trees-tree-subtitle-lower">
										<span class="dragonflight-talent-trees-tree-subtitle-line">
											<span class="dragonflight-talent-trees-tree-subtitle-label">
												Spent:
											</span>
											<span class="dragonflight-talent-trees-tree-subtitle-value">
												30 / 30
											</span>
										</span>
										<span class="dragonflight-talent-trees-tree-subtitle-line">
											<span class="dragonflight-talent-trees-tree-subtitle-label">
												Req Level:
											</span>
											<span class="dragonflight-talent-trees-tree-subtitle-value">
												69
											</span>
										</span>
									</div>
								</div>
							</div>

							<div class="dragonflight-talent-trees-tree-background" data-tree-type="hero">
								<div class="dragonflight-talent-trees-tree" data-tree="65586" data-tree-type="hero" data-read-only="1" data-can-condense="1">
									<div class="dragonflight-talent-trees-tree-title" style="min-height: 68.3125px;">
										<img src="https://wow.zamimg.com/images/wow/icons/medium/class_paladin.jpg" class="dragonflight-talent-trees-tree-title-icon" alt="">
										<div class="dragonflight-talent-trees-tree-title-name">Herald of the Sun</div><div class="dragonflight-talent-trees-tree-subtitle c2">
											<span class="dragonflight-talent-trees-tree-subtitle-line">
												<span class="dragonflight-talent-trees-tree-subtitle-label">Spent: </span>
												<span class="dragonflight-talent-trees-tree-subtitle-value">10&nbsp;/&nbsp;10</span>
											</span><span class="dragonflight-talent-trees-tree-subtitle-line">
												<span class="dragonflight-talent-trees-tree-subtitle-label">Req Level: </span>
												<span class="dragonflight-talent-trees-tree-subtitle-value">80</span>
											</span>
										</div><a href="javascript:" class="btn btn-site btn-small dragonflight-talent-trees-tree-title-export click-to-copy" style="margin-left:5px;float:right" data-prevent-select-start="true">Export Talents</a>
										<a href="https://www.wowhead.com/talent-calc/paladin/holy/herald-of-the-sun/DARBQRQQRVYFREREUJgUCUUOVVRRVBUFBVUEUVCEFEFVVUBU" class="btn btn-site btn-small dragonflight-talent-trees-tree-title-open" style="margin-left:5px;float:right">Open in Calculator</a>
									</div><div class="dragonflight-talent-tree">
										<div class="dragonflight-talent-tree-space" style="font-size: 9px;" data-no-points-margin="1">
											<div class="dragonflight-talent-tree-grid-parent">
												<div class="dragonflight-talent-tree-grid" data-read-only="1" data-fully-spent="1">
													<a class="dragonflight-talent-tree-talent" data-row="1" data-column="9" data-cell="8" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=431377/dawnlight?spellModifier=137029" data-spell-modifiers="137027,137029" aria-label="Dawnlight" data-full="1" data-available="1">
														<div class="dragonflight-talent-tree-talent-name">Dawnlight</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_ability_heraldofthesunpaladin_dawnlight.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame">
															</div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="1" data-column="9" data-cell="8" data-talent-type="2"></div>
													<div class="dragonflight-talent-tree-talent-found" data-row="1" data-column="9" data-cell="8" data-talent-type="2"></div>
													<a class="dragonflight-talent-tree-talent" data-row="2" data-column="7" data-cell="23" data-talent-type="3" data-tooltip-mode="icon" data-no-touch-lightbox="true"
													   href="https://www.wowhead.com/spell=431480/gleaming-rays" data-choice-href0="https://www.wowhead.com/spell=431482/morning-star" data-choice-href1="https://www.wowhead.com/spell=431480/gleaming-rays" aria-label="Gleaming Rays" data-condensed-num="1" data-available="1" data-full="1" data-choice-background="1">
														<div class="dragonflight-talent-tree-talent-name">Morning Star / Gleaming Rays</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background lazy-load-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_persecution.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_priest_power-word.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a>
													<div class="dragonflight-talent-tree-talent-points" data-row="2" data-column="7" data-cell="23" data-talent-type="3" data-condensed-num="1" data-points="1">1/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="2" data-column="7" data-cell="23" data-talent-type="3" data-condensed-num="1"></div><a class="dragonflight-talent-tree-talent" data-row="2" data-column="9" data-cell="25" data-talent-type="1" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=156322/eternal-flame" aria-label="Eternal Flame" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">Eternal Flame</div><div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_torch_thrown.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div><div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a><div class="dragonflight-talent-tree-talent-points" data-row="2" data-column="9" data-cell="25" data-talent-type="1" data-points="1">1/1</div><div class="dragonflight-talent-tree-talent-found" data-row="2" data-column="9" data-cell="25" data-talent-type="1">
													</div>
													<a class="dragonflight-talent-tree-talent" data-row="2" data-column="11" data-cell="27" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=431402/luminosity?spellModifier=137029" data-spell-modifiers="137027,137029" aria-label="Luminosity" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">Luminosity</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_qirajidol_sun.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div><div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a><div class="dragonflight-talent-tree-talent-points" data-row="2" data-column="11" data-cell="27" data-talent-type="2" data-points="1">1/1</div><div class="dragonflight-talent-tree-talent-found" data-row="2" data-column="11" data-cell="27" data-talent-type="2"></div>
													<a class="dragonflight-talent-tree-talent" data-row="3" data-column="7" data-cell="40" data-talent-type="3" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=431406/will-of-the-dawn" data-choice-href0="https://www.wowhead.com/spell=431423/illumine" data-choice-href1="https://www.wowhead.com/spell=431406/will-of-the-dawn" aria-label="Will of the Dawn" data-condensed-num="2" data-available="1" data-full="1" data-choice-background="1">
														<div class="dragonflight-talent-tree-talent-name">Illumine / Will of the Dawn</div><div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background lazy-load-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_divineillumination.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div><div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_divineprovidence.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div><div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a><div class="dragonflight-talent-tree-talent-points" data-row="3" data-column="7" data-cell="40" data-talent-type="3" data-condensed-num="2" data-points="1">1/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="3" data-column="7" data-cell="40" data-talent-type="3" data-condensed-num="2"></div>
													<a class="dragonflight-talent-tree-talent" data-row="3" data-column="9" data-cell="42" data-talent-type="3" data-tooltip-mode="icon" data-no-touch-lightbox="true"
													   href="https://www.wowhead.com/spell=445200/blessing-of-anshe?spellModifier=137029" data-spell-modifiers="137027,137029" data-choice-href0="https://www.wowhead.com/spell=445200/blessing-of-anshe" data-choice-href1="https://www.wowhead.com/spell=431407/lingering-radiance" aria-label="Lingering Radiance" data-condensed-num="3" data-available="1" data-full="1" data-choice-background="0">
														<div class="dragonflight-talent-tree-talent-name">Blessing of An'she / Lingering Radiance</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_ability_holyfire_orb.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
																<div class="dragonflight-talent-tree-talent-inner-background lazy-load-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_mindvision.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame">
															</div>
														</div>
													</a><div class="dragonflight-talent-tree-talent-points" data-row="3" data-column="9" data-cell="42" data-talent-type="3" data-condensed-num="3" data-points="1">1/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="3" data-column="9" data-cell="42" data-talent-type="3" data-condensed-num="3"></div>
													<a class="dragonflight-talent-tree-talent" data-row="3" data-column="11" data-cell="44" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=431413/sun-sear?spellModifier=137029" data-spell-modifiers="137027,137029" aria-label="Sun Sear" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">Sun Sear</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_priest_burningwill.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div><div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a><div class="dragonflight-talent-tree-talent-points" data-row="3" data-column="11" data-cell="44" data-talent-type="2" data-points="1">1/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="3" data-column="11" data-cell="44" data-talent-type="2">
													</div><a class="dragonflight-talent-tree-talent" data-row="4" data-column="7" data-cell="57" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=439760/aurora?spellModifier=137029" data-spell-modifiers="137027,137029" aria-label="Aurora" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">Aurora</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/spell_holy_rune.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div><div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a><div class="dragonflight-talent-tree-talent-points" data-row="4" data-column="7" data-cell="57" data-talent-type="2" data-points="1">1/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="4" data-column="7" data-cell="57" data-talent-type="2">
													</div><a class="dragonflight-talent-tree-talent" data-row="4" data-column="9" data-cell="59" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=431404/solar-grace" aria-label="Solar Grace" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">Solar Grace</div><div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/ability_malkorok_blightofyshaarj_yellow.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);">
																</div>
															</div><div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a><div class="dragonflight-talent-tree-talent-points" data-row="4" data-column="9" data-cell="59" data-talent-type="2" data-points="1">1/1</div><div class="dragonflight-talent-tree-talent-found" data-row="4" data-column="9" data-cell="59" data-talent-type="2"></div>
													<a class="dragonflight-talent-tree-talent" data-row="4" data-column="11" data-cell="61" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=431474/second-sunrise?spellModifier=137029" data-spell-modifiers="137027,137029" aria-label="Second Sunrise" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">Second Sunrise</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/ability_priest_halo.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div><div class="dragonflight-talent-tree-talent-boundary-frame">
															</div>
														</div>
													</a><div class="dragonflight-talent-tree-talent-points" data-row="4" data-column="11" data-cell="61" data-talent-type="2" data-points="1">1/1</div><div class="dragonflight-talent-tree-talent-found" data-row="4" data-column="11" data-cell="61" data-talent-type="2"></div>
													<a class="dragonflight-talent-tree-talent" data-row="5" data-column="9" data-cell="76" data-talent-type="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="https://www.wowhead.com/spell=431425/suns-avatar?spellModifier=31884:137029" data-spell-modifiers="31884,137027,137029,216331,231895,458359" aria-label="Sun's Avatar" data-available="1" data-full="1">
														<div class="dragonflight-talent-tree-talent-name">Sun's Avatar</div>
														<div class="dragonflight-talent-tree-talent-boundary">
															<div class="dragonflight-talent-tree-talent-inner">
																<div class="dragonflight-talent-tree-talent-inner-background" style="background-image: url(&quot;https://wow.zamimg.com/images/wow/icons/large/ability_paladin_holyavenger.jpg&quot;), url(&quot;https://wow.zamimg.com/images/wow/icons/large/inv_misc_questionmark.jpg&quot;);"></div>
															</div>
															<div class="dragonflight-talent-tree-talent-boundary-frame"></div>
														</div>
													</a><div class="dragonflight-talent-tree-talent-points" data-row="5" data-column="9" data-cell="76" data-talent-type="2" data-points="1">1/1</div>
													<div class="dragonflight-talent-tree-talent-found" data-row="5" data-column="9" data-cell="76" data-talent-type="2"></div>
													<div class="dragonflight-talent-tree-connection" data-from-cell="8" data-to-cell="23" data-index="0" data-available="1" style="left: 50%; top: 5%; transform: rotate(2.35619rad); width: calc(12.3802% - 6px);">
														<div class="dragonflight-talent-tree-connection-line"></div>
														<div class="dragonflight-talent-tree-connection-arrow"></div>
													</div><div class="dragonflight-talent-tree-connection" data-from-cell="8" data-to-cell="25" data-index="1" data-available="1" style="left: 50%; top: 5%; transform: rotate(1.5708rad); width: calc(7.77778% - 6px);">
														<div class="dragonflight-talent-tree-connection-line"></div><div class="dragonflight-talent-tree-connection-arrow"></div>
													</div><div class="dragonflight-talent-tree-connection" data-from-cell="8" data-to-cell="27" data-index="2" data-available="1" style="left: 50%; top: 5%; transform: rotate(0.785398rad); width: calc(12.3802% - 6px);">
														<div class="dragonflight-talent-tree-connection-line"></div>
														<div class="dragonflight-talent-tree-connection-arrow"></div>
													</div><div class="dragonflight-talent-tree-connection" data-from-cell="23" data-to-cell="40" data-index="3" data-available="1" style="left: 38.8889%; top: 15%; transform: rotate(1.5708rad); width: calc(7.77778% - 6px);">
														<div class="dragonflight-talent-tree-connection-line"></div><div class="dragonflight-talent-tree-connection-arrow"></div>
													</div><div class="dragonflight-talent-tree-connection" data-from-cell="25" data-to-cell="42" data-index="4" data-available="1" style="left: 50%; top: 15%; transform: rotate(1.5708rad); width: calc(7.77778% - 6px);">
														<div class="dragonflight-talent-tree-connection-line"></div><div class="dragonflight-talent-tree-connection-arrow">
														</div>
													</div>
													<div class="dragonflight-talent-tree-connection" data-from-cell="27" data-to-cell="44" data-index="5" data-available="1" style="left: 61.1111%; top: 15%; transform: rotate(1.5708rad); width: calc(7.77778% - 6px);">
														<div class="dragonflight-talent-tree-connection-line"></div>
														<div class="dragonflight-talent-tree-connection-arrow"></div>
													</div><div class="dragonflight-talent-tree-connection" data-from-cell="40" data-to-cell="57" data-index="6" data-available="1" style="left: 38.8889%; top: 25%; transform: rotate(1.5708rad); width: calc(7.77778% - 6px);">
														<div class="dragonflight-talent-tree-connection-line"></div><div class="dragonflight-talent-tree-connection-arrow"></div>
													</div><div class="dragonflight-talent-tree-connection" data-from-cell="42" data-to-cell="59" data-index="7" data-available="1" style="left: 50%; top: 25%; transform: rotate(1.5708rad); width: calc(7.77778% - 6px);">
														<div class="dragonflight-talent-tree-connection-line"></div>
														<div class="dragonflight-talent-tree-connection-arrow"></div>
													</div><div class="dragonflight-talent-tree-connection" data-from-cell="44" data-to-cell="61" data-index="8" data-available="1" style="left: 61.1111%; top: 25%; transform: rotate(1.5708rad); width: calc(7.77778% - 6px);">
														<div class="dragonflight-talent-tree-connection-line"></div>
														<div class="dragonflight-talent-tree-connection-arrow"></div>
													</div><div class="dragonflight-talent-tree-connection" data-from-cell="57" data-to-cell="76" data-index="9" data-available="1" style="left: 38.8889%; top: 35%; transform: rotate(0.785398rad); width: calc(12.3802% - 6px);">
														<div class="dragonflight-talent-tree-connection-line"></div><div class="dragonflight-talent-tree-connection-arrow"></div>
													</div>
													<div class="dragonflight-talent-tree-connection" data-from-cell="59" data-to-cell="76" data-index="10" data-available="1" style="left: 50%; top: 35%; transform: rotate(1.5708rad); width: calc(7.77778% - 6px);">
														<div class="dragonflight-talent-tree-connection-line"></div><div class="dragonflight-talent-tree-connection-arrow"></div>
													</div>
													<div class="dragonflight-talent-tree-connection" data-from-cell="61" data-to-cell="76" data-index="11" data-available="1" style="left: 61.1111%; top: 35%; transform: rotate(2.35619rad); width: calc(12.3802% - 6px);">
														<div class="dragonflight-talent-tree-connection-line"></div><div class="dragonflight-talent-tree-connection-arrow"></div>
													</div>
												</div>
											</div>
										</div>
									</div><div class="dragonflight-talent-trees-tree-subtitle c2 dragonflight-talent-trees-tree-subtitle-lower">
										<span class="dragonflight-talent-trees-tree-subtitle-line">
											<span class="dragonflight-talent-trees-tree-subtitle-label">Spent: </span>
											<span class="dragonflight-talent-trees-tree-subtitle-value">10&nbsp;/&nbsp;10</span>
										</span>
										<span class="dragonflight-talent-trees-tree-subtitle-line">
											<span class="dragonflight-talent-trees-tree-subtitle-label">Req Level: </span>
											<span class="dragonflight-talent-trees-tree-subtitle-value">80</span>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="dragonflight-talent-pvp" style="display: none;">
							<span class="dragonflight-talent-pvp-label">
								<span class="dragonflight-talent-pvp-label-full">PvP Talents: </span>
								<span class="dragonflight-talent-pvp-label-narrow">PvP: </span>
							</span>
							<a class="dragonflight-talent-pvp-talent" data-slot="0" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="javascript:" role="button" aria-label="PvP Talent Slot" data-read-only="1">
								<div class="dragonflight-talent-pvp-talent-button">
									<div class="dragonflight-talent-pvp-talent-icon"></div>
									<div class="dragonflight-talent-pvp-talent-cover"></div>
								</div>
							</a>
							<a class="dragonflight-talent-pvp-talent" data-slot="1" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="javascript:" role="button" aria-label="PvP Talent Slot" data-read-only="1">
								<div class="dragonflight-talent-pvp-talent-button">
									<div class="dragonflight-talent-pvp-talent-icon"></div>
									<div class="dragonflight-talent-pvp-talent-cover"></div>
								</div>
							</a>
							<a class="dragonflight-talent-pvp-talent" data-slot="2" data-tooltip-mode="icon" data-no-touch-lightbox="true" href="javascript:" role="button" aria-label="PvP Talent Slot" data-read-only="1">
								<div class="dragonflight-talent-pvp-talent-button">
									<div class="dragonflight-talent-pvp-talent-icon"></div><div class="dragonflight-talent-pvp-talent-cover"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
				*@