@inherits PaladinProject.Views.Shared.BaseTalentView
@{ViewData["Title"] = "Holy Paladin Consumables";}
@*
<link rel="stylesheet" href="~/css/holy/holyStats.css" />
<link rel="stylesheet" href="~/css/holy/holyTalents.css" />
<link rel="stylesheet" href="~/css//holy/holyConsumables.css" />
*@
	<div class="outer-wrapper">
		<div class="page-container">
			<div class="main-wrapper">

				<div class="separator-container">
					<img src="~/images/Separators/D2.png" alt="Separator 2" class="separator" />
				</div>


				<section id="consumables">


					<h2 class="section-header">
						<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" alt="Trinkets Icon" class="section-icon">
						BEST HOLY PALADIN ENCHANTS IN THE WAR WITHIN SEASON
					</h2>

					<p>
						Below is a list of the recommended enchants to use on your gear during The War Within Season 2.
					</p>

					<br>

					<table style="width: 100%; border-collapse: collapse; color: #ccc;">
						<thead>
							<tr style="background-color: #333;">
								<th style="padding: 8px; border: 1px solid #555;">Type</th>
								<th style="padding: 8px; border: 1px solid #555;">Best</th>
								<th style="padding: 8px; border: 1px solid #555;">Options</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="padding: 8px; border: 1px solid #555;">Weapon</td>
								<td style="padding: 8px; border: 1px solid #555;">
									<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
									Enchant Weapon - Authority of the Depths (Single Target)<br />
									<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
									Enchant Weapon - Stormrider's Fury (AoE)
								</td>
								<td style="padding: 8px; border: 1px solid #555;">-</td>
							</tr>
							<tr>
								<td style="padding: 8px; border: 1px solid #555;">Cloak</td>
								<td style="padding: 8px; border: 1px solid #555;">
									<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
									Enchant Cloak - Chant of Burrowing Rapidity
								</td>
								<td style="padding: 8px; border: 1px solid #555;">-</td>
							</tr>
							<tr>
								<td style="padding: 8px; border: 1px solid #555;">Chest</td>
								<td style="padding: 8px; border: 1px solid #555;">
									<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
									Enchant Chest - Crystalline Radiance
								</td>
								<td style="padding: 8px; border: 1px solid #555;">-</td>
							</tr>
							<tr>
								<td style="padding: 8px; border: 1px solid #555;">Bracers</td>
								<td style="padding: 8px; border: 1px solid #555;">
									<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
									Enchant Bracer - Chant of Armored Speed
								</td>
								<td style="padding: 8px; border: 1px solid #555;">
									<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
									Enchant Bracer - Whisper of Armored Speed
								</td>
							</tr>
							<tr>
								<td style="padding: 8px; border: 1px solid #555;">Legs</td>
								<td style="padding: 8px; border: 1px solid #555;">
									<img src="/images/itemIcons/inv_armorkit_lightning_imbued.jpg" width="16" />
									Stormbound Armor Kit
								</td>
								<td style="padding: 8px; border: 1px solid #555;">
									<img src="/images/itemIcons/inv_armorkit_lightning_imbued.jpg" width="16" />
									Dual Layered Armor Kit
								</td>
							</tr>
							<tr>
								<td style="padding: 8px; border: 1px solid #555;">Boots</td>
								<td style="padding: 8px; border: 1px solid #555;">
									<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
									Enchant Boots - Scout's March
								</td>
								<td style="padding: 8px; border: 1px solid #555;">-</td>
							</tr>
							<tr>
								<td style="padding: 8px; border: 1px solid #555;">Ring - Regular</td>
								<td style="padding: 8px; border: 1px solid #555;">
									<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
									Enchant Ring - Radiant Haste
								</td>
								<td style="padding: 8px; border: 1px solid #555;">
									<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
									Enchant Ring - Glimmering Haste
								</td>
							</tr>
							<tr>
								<td style="padding: 8px; border: 1px solid #555;">Ring - Cursed</td>
								<td style="padding: 8px; border: 1px solid #555;">
									<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
									Enchant Ring - Cursed Haste
								</td>
								<td style="padding: 8px; border: 1px solid #555;">-</td>
							</tr>
						</tbody>
					</table>

					<br />
					<p>Cursed Ring Enchants are not recommended as they are simply not worth it.</p>
				</section>

				<h2 class="section-header" style="text-align: left;">
					<img src="/images/icons/inv_eyeofnzothpet.jpg" alt="Crafting Icon" class="section-icon small-icon">
					Holy Paladin Head Enchant in The War Within Season 2
				</h2>


				Greater Rune of the Void Ritual Greater Rune of the Void Ritual will be your corruption of choice as it is the only option that provides a healing increase. You can use Lesser Rune of the Void Ritual Lesser Rune of the Void Ritual until you unlock its greater version.

				<!-- Separator 2 -->
				<div class="separator-container">
					<img src="~/images/Separators/D2.png" alt="Separator 2" class="separator" />
				</div>

				<h2 class="section-header">
					<img src="/images/icons/EyeOfKezan.jpg" alt="Trinkets Icon" class="section-icon">
					BEST HOLY PALADIN CONSUMABLES IN THE WAR WITHIN SEASON 2
				</h2>

				<p>There are many consumables that players can use in combat in The War Within Season 2. Here are the best phials, potions, and weapon buffs that Holy Paladins can use in PvE content.</p>

				<h2 class="section-header" style="text-align: left;">
					<img src="/images/itemIcons/ui_profession_blacksmithing.jpg" alt="Crafting Icon" class="section-icon small-icon">
					Best Consumables for Holy Paladin
				</h2>


				<table style="width: 100%; border-collapse: collapse; color: #ccc;">
					<thead>
						<tr style="background-color: #333;">
							<th style="padding: 8px; border: 1px solid #555;">Slot</th>
							<th style="padding: 8px; border: 1px solid #555;">Best Enchant</th>
							<th style="padding: 8px; border: 1px solid #555;">Cheaper Version</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="padding: 8px; border: 1px solid #555;">Flask</td>
							<td style="padding: 8px; border: 1px solid #555;">
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
								Flask of Tempered Swiftness
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
							</td>
							<td style="padding: 8px; border: 1px solid #555;">
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
								Flash of Tempered Mastery
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
							</td>
						</tr>
						<tr>
							<td style="padding: 8px; border: 1px solid #555;">Mana Potion</td>
							<td style="padding: 8px; border: 1px solid #555;">
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
								Algari Mana Potion
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
							</td>
							<td style="padding: 8px; border: 1px solid #555;">
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
								Slumbering Soul Serum
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
							</td>
						</tr>
						<tr>
							<td style="padding: 8px; border: 1px solid #555;">Health Potion</td>
							<td style="padding: 8px; border: 1px solid #555;">
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
								Algari Healing Potion
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
							</td>
							<td style="padding: 8px; border: 1px solid #555;">-</td>
						</tr>
						<tr>
							<td style="padding: 8px; border: 1px solid #555;">Weapon Buff</td>
							<td style="padding: 8px; border: 1px solid #555;">
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
								Algani Mana Oil as Herald
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
								<br>
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
								Rite of Sanctification as Lightsmith
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
							</td>
							<td style="padding: 8px; border: 1px solid #555;">-</td>
						</tr>
						<tr>
							<td style="padding: 8px; border: 1px solid #555;">Augment Rune</td>
							<td style="padding: 8px; border: 1px solid #555;">
								<img src="/images/itemIcons/inv_armorkit_lightning_imbued.jpg" width="16" />
								Crystallized Augment Rune
							</td>
							<td style="padding: 8px; border: 1px solid #555;"></td>
						</tr>
						<tr>
							<td style="padding: 8px; border: 1px solid #555;">Food</td>
							<td style="padding: 8px; border: 1px solid #555;">
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
								Feast of the Divine Day
							</td>
							<td style="padding: 8px; border: 1px solid #555;">
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
								Jester's Board
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
							</td>
						</tr>
						<tr>
							<td style="padding: 8px; border: 1px solid #555;">Diamond</td>
							<td style="padding: 8px; border: 1px solid #555;">
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
								Elusive Blasphemite
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
							</td>
							<td style="padding: 8px; border: 1px solid #555;">-</td>
						</tr>
						<tr>
							<td style="padding: 8px; border: 1px solid #555;">Other Gems</td>
							<td style="padding: 8px; border: 1px solid #555;">
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
								Quick Onyx
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
							</td>
							<td style="padding: 8px; border: 1px solid #555;">
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
								Deadly Emerald
								<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" width="16" />
							</td>
						</tr>
					</tbody>
				</table>

				<br />
				
				<h2 class="section-header" style="text-align: left;">
					<img src="/images/itemIcons/ui_profession_blacksmithing.jpg" alt="Crafting Icon" class="section-icon small-icon">
					Holy Paladin Phials in The War Within Season 2
				</h2>

				<p>The best phial for Holy Paladin is Flask of Tempered Swiftness Flask of Tempered Swiftness  for both Raiding and Mythic+</p>

				<h2 class="section-header" style="text-align: left;">
					<img src="/images/itemIcons/ui_profession_blacksmithing.jpg" alt="Crafting Icon" class="section-icon small-icon">
					Holy Paladin Combat Potions in The War Within Season 2
				</h2>

				There are a couple different potions that have different useful scenarios for Holy Paladin:
				<ul>
					<li>
						Best Mana Potion: Algari Mana Potion Algari Mana Potion , or Slumbering Soul Serum Slumbering Soul Serum  if you are able to find a good time to use it.
					</li>
					<li>
						Best Throughput Potion: Tempered Potion Tempered Potion.
					</li>
				</ul>
				<br>
				<h2 class="section-header" style="text-align: left;">
					<img src="/images/itemIcons/ui_profession_blacksmithing.jpg" alt="Crafting Icon" class="section-icon small-icon">
					Holy Paladin Health Potions in The War Within Season 2
				</h2>

				The best healing potion is Algari Healing Potion Algari Healing Potion .
				<br>
				<h2 class="section-header" style="text-align: left;">
					<img src="/images/itemIcons/ui_profession_blacksmithing.jpg" alt="Crafting Icon" class="section-icon small-icon">
					Holy Paladin Weapon Buff in The War Within Season 2
				</h2>

				<p>
					Algari Mana Oil Algari Mana Oil  is the best weapon buff to use in all scenarios as Herald of the Sun, and  Rite of Sanctification as Lightsmith.
				</p>
				
				<br>

				<h2 class="section-header" style="text-align: left;">
					<img src="/images/itemIcons/ui_profession_blacksmithing.jpg" alt="Crafting Icon" class="section-icon small-icon">
					Holy Paladin Augment Rune in The War Within Season 2
				</h2>

				Crystallized Augment Rune Crystallized Augment Rune is the best augment rune for Holy Paladin.
				<br>
				<!-- Separator 2 -->
				<div class="separator-container">
					<img src="~/images/Separators/D2.png" alt="Separator 2" class="separator" />
				</div>


				<h2 class="section-header">
					<img src="/images/icons/EyeOfKezan.jpg" alt="Trinkets Icon" class="section-icon">
					BEST HOLY PALADIN FOOD IN THE WAR WITHIN SEASON 2
				</h2>

				<ul>
					<li>Feast: Feast of the Divine Day Feast of the Divine Day or Feast of the Midnight Masquerade Feast of the Midnight Masquerade.</li>
					<li>Personal Food: Jester's Board Jester's Board, Outsider's Provisions Outsider's Provisions, Empress' Farewell Empress' Farewell, or Beledar's Bounty Beledar's Bounty.</li>
				</ul>

				
				
				<p>All of the Personal Food options grant the same buff, but Feast of the Divine Day Feast of the Divine Day or Feast of the Midnight Masquerade Feast of the Midnight Masquerade are the best option.</p>

				<!-- Separator 2 -->
				<div class="separator-container">
					<img src="~/images/Separators/D2.png" alt="Separator 2" class="separator" />
				</div>


				<h2 class="section-header">
					<img src="/images/icons/EyeOfKezan.jpg" alt="Trinkets Icon" class="section-icon">
					BEST HOLY PALADIN GEMS IN THE WAR WITHIN SEASON 2
				</h2>


				<p>The best Algari Diamond is Elusive Blasphemite Elusive Blasphemite  as it gives a bit of movement speed. Culminating Blasphemite Culminating Blasphemite  provides more direct throughput increase, but it is extremely minor as it's just weak and the crit effect increase is halved for healing effects.</p>
				<p>To maximize the effect of Elusive Blasphemite Elusive Blasphemite , it is recommended you use at least four different gem colours in the rest of your sockets. Quick Onyx Quick Onyx  is the best gem for Raiding, but you should use one each of the following too; Masterful Emerald Masterful Emerald , Masterful Ruby Masterful Ruby , and Masterful Sapphire Masterful Sapphire . This will grant you 8% extra movement speed permanently.</p>
				<p>Deadly Emerald Deadly Emerald  is the best gem for Mythic+, and you should use one each of the following too; Quick Onyx Quick Onyx , Quick Sapphire Quick Sapphire , and Quick Ruby Quick Ruby .</p>
			</div>
		</div>
	</div>
