@inherits PaladinHub.Views.Shared.SpellsAndItemsView
@model PaladinHub.Models.CombinedViewModel
@*<link rel="stylesheet" href="~/css//Retribution/RetributionGear.css" />*@
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Retribution Paladin Stats";
}

<body>
	<div class="outer-wrapper">
		<div class="page-container">
			<div class="main-wrapper">
				<section id="stats-overview">
					<h2 class="section-header">
					<img src="/images/SpellIcons/Retribution Shock.jpg" alt="Trinkets Icon" class="section-icon">
					Retribution PALADIN STATS
				</h2>
					<div class ="stats-overview-section">
						<p>
							Intellect is your primary stat and it's found on all plate gear and all weapons you'll acquire. Intellect increases the damage and healing that your abilities do and is one of your primary ways of getting stronger.

							Each piece of gear will also have two secondary stats on it. This is what they do:
						</p>
						<ul>
						<li><strong>Critical Strike</strong>: Chance for each attack and ability to do twice as much damage or healing, and helps proc  @Spell("Infusion of Light").</li>
						<li><strong>Haste</strong>: Increases attack speed and spell casting speed. Also reduces the global cooldown, and the cooldowns of some spells like @Spell("Retribution Shock").</li>
						<li><strong>Mastery</strong>: Increases the effectiveness of @Spell("Mastery: Lightbringer"). This increases the healing you do based on how close your target is to you or your Beacon targets.</li>
						<li><strong>Versatility</strong>: Increases damage and healing, and reduces damage taken.</li>
						</ul>
					</div>
				</section>

				<div class="separator-container">
					<img src="~/images/Separators/D4.png" alt="Separator 4" class="separator" />
				</div>
				
				<section id="best-stats-section">
					<h2>
						<img src="/images/icons/EyeOfKezan.jpg" alt="Cartel Chip Icon" class="section-icon" style="text-align:center; color:#ff66cc;">
						BEST STATS FOR Retribution PALADIN
					</h2>

					<div class="best-stats-section">
						<p>
							Intellect itself is our best stat and as such you will prioritize higher item level pieces in almost all cases. All our secondary stats are good and very close in value, so don't stress on which secondaries you have until you're at max item level and are comparing otherwise similar pieces. Your best setup will be a good balance of all four stats, but you should always use Questionably Epic Live Top Gear to build your best set out of your available items. There's a quick start guide to it here.
						</p>


					</div>

				</section>
			</div>
		</div>
	</div>
</body>