@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager

@{
    var headerModel = Model as PaladinHub.Models.CombinedViewModel;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@(ViewData["Title"] ?? "PaladinHub")</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PaladinHub.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    @if (signInManager.IsSignedIn(User))
    {
        <script>window.__cartJustAdded__ = @(TempData["AddedSuccessfully"] != null ? "true" : "false");</script>
    }


    <link rel="icon" href="~/images/WoW_icon.svg.png" type="image/svg+xml" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/Holy/Overview" id="holyDropdown" role="button">
                                Holy Paladin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="holyDropdown">
                                <li><a class="dropdown-item" href="/Holy/Gear">Gear</a></li>
                                <li><a class="dropdown-item" href="/Holy/Talents">Talents</a></li>
                                <li><a class="dropdown-item" href="/Holy/Consumables">Consumables</a></li>
                                <li><a class="dropdown-item" href="/Holy/Rotation">Rotation</a></li>
                                <li><a class="dropdown-item" href="/Holy/Stats">Stats</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/Protection/Overview" id="protDropdown" role="button">
                                Protection Paladin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="protDropdown">
                                <li><a class="dropdown-item" href="/Protection/Gear">Gear</a></li>
                                <li><a class="dropdown-item" href="/Protection/Talents">Talents</a></li>
                                <li><a class="dropdown-item" href="/Protection/Consumables">Consumables</a></li>
                                <li><a class="dropdown-item" href="/Protection/Rotation">Rotation</a></li>
                                <li><a class="dropdown-item" href="/Protection/Stats">Stats</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/Retribution/Overview" id="retriDropdown" role="button">
                                Retribution Paladin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="retriDropdown">
                                <li><a class="dropdown-item" href="/Retribution/Gear">Gear</a></li>
                                <li><a class="dropdown-item" href="/Retribution/Talents">Talents</a></li>
                                <li><a class="dropdown-item" href="/Retribution/Consumables">Consumables</a></li>
                                <li><a class="dropdown-item" href="/Retribution/Rotation">Rotation</a></li>
                                <li><a class="dropdown-item" href="/Retribution/Stats">Stats</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Builder">Talent Tree Builder</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Discussions" asp-action="Index">
                                Discussion
                            </a>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Database" asp-action="Index">
                                    Database
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Merchandise" asp-action="Merchandise">
                                <i class="fa-solid fa-store"></i> Merchandise
                            </a>
                        </li>

                        <li class="nav-item position-relative" id="nav-cart">
                            <a id="nav-cart-link" class="nav-link" asp-controller="Carts" asp-action="MyCart">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span id="nav-cart-text" class="position-relative d-inline-block">
                                    My Cart
                                    <span id="cart-badge"
                                          class="badge rounded-pill bg-danger position-absolute top-100 start-100 translate-middle-x d-none"
                                          style="margin-top:-8px">0</span>
                                </span>
                            </a>

                            <div id="mini-cart-panel" class="mini-cart shadow border rounded d-none">
                                <div class="p-3 text-center text-muted">Зареждане…</div>
                            </div>
                        </li>


                        @if (signInManager.IsSignedIn(User))
                        {
                            @await Html.PartialAsync("_LoginPartial")
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div style="padding-top: 80px;">
        @if (headerModel != null)
        {
            @await Html.PartialAsync("_PageHeader", headerModel)
        }

        <main role="main" class="pb-5 container">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center mt-5 py-3">
        <div class="container">
            &copy; @DateTime.Now.Year - PaladinHub | Made with 💛 for WoW Paladins
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        const navbar = document.querySelector(".navbar-custom");
        function updateNavbarVisibility(mouseY) {
            if (window.scrollY === 0 || mouseY <= 600) {
                navbar.style.top = "0";
            } else {
                navbar.style.top = "-100px";
            }
        }

        document.addEventListener("mousemove", e => updateNavbarVisibility(e.clientY));
        window.addEventListener("scroll", () => updateNavbarVisibility(999));
        updateNavbarVisibility(999);
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
