@inherits PaladinHub.Helpers.SpellsAndItemsView
@model PaladinHub.Models.CombinedViewModel
@*<link rel="stylesheet" href="~/css/Protection/ProtectionRotation.css" />*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Protection Paladin Rotation";
}

<body>
    <div class="outer-wrapper">
	<div class="page-container">
		<div class="main-wrapper">

			<section id="how-to-play">
				<h2 class="section-header">
					<img src="/images/itemIcons/inv_misc_enchantedscroll.jpg" alt="Trinkets Icon" class="section-icon">
					HOW TO PLAY Protection PALADIN
				</h2>
				<div class="how-to-play">
					Protection Paladin does not follow a set rotation, but rather a priority system, and all the lists on this page should be understood as such. As a healer it should go without saying, your job is to keep people alive even if it means deviating from the spell priority list.
					Avoid Wasting Protection Power as it is our main resource, spent on our strongest spells,  Word of Glory ( Eternal Flame as Herald) and  Light of Dawn. Even if you have nothing to heal, you should be spending your Protection Power to deal damage with  Shield of the Righteous.
					ABC - Always Be Casting is a mantra that is important for almost all specs to follow. Essentially, it just means you should always be filling every possible global cooldown with a spell. Remember, it is better to be casting a suboptimal spell than to cast no spell at all. Of course you should follow the priority list to the best of your ability, just don't get stuck casting nothing at all because you are only trying to cast the best spells.
					More Protection Shocks -  Protection Shock is the driving force behind the whole spec. It is our main Protection Power generator, it procs  Infusion of Light, and it does great healing. As such, you should always strive to keep it on cooldown to maximize how many you cast.
				</div>
			</section>

			<div class="separator-container">
				<img src="~/images/Separators/D2.png" alt="Separator 2" class="separator" />
			</div>

			<section id="single-button-rotation">
				<h2 class="section-header">
					<img src="/images/itemIcons/inv_potion_green.jpg" alt="Trinkets Icon" class="section-icon">
					IS THE SINGLE BUTTON ROTATION ASSISTANT GOOD FOR Protection PALADIN?
				</h2>

                <div class="single-button-rotation">
                    <p>
                        For healers, the rotation assistant only uses DPS abilities. It will not use any healing spells, and it will not target your allies in any way. The rotation assistant is therefore not useful for us, and if you want to use the Single Button Assistant on your Paladin, you are better of playing Retribution so you at least do some actual damage.
                    </p>
                    <h3>Rotation Assist Losses for Protection Paladin</h3>
                    <p>
                        Because the Rotation Assistant does not use healing spells, it does not use  Protection Shock even though it is one of our best DPS abilities. It also does not use Protection Power, not even to cast  Shield of the Righteous. Combining these two factors means the Rotation Assistant often has giant gaps between its spell usage as it frequently has no available spell to cast, and as such it is a huge DPS loss to use it.
                    </p>   
                    <h3>Protection Paladin DPS Spells and Cooldowns Not Used by Rotation Assist</h3>
                    <p>
                        Besides not using any healing spells, it also does not use any sort of cooldowns either, so when using both Assisted Highlight and Single-Button Assistant to deal damage as a Protection Paladin, you will still need to use the following spells and cooldowns manually.
                    </p>                    
                    <ul>
                        <li> Avenging Wrath</li>
                        <li> Divine Toll</li>
                        <li>All the different Blessings from  Blessing of Summer</li>
                        <li>Protection Prism</li>
                        <li>Protection Shock</li>
                        <li>Spend Protection Power on  Shield of the Righteous</li>
                    </ul>                  
                    <p>
                        The Rotation Assist is a new tool added in Patch 11.1.7. To learn more about it, check our guide below.
                    </p>
                </div>
			</section>

			<div class="separator-container">
				<img src="~/images/Separators/D2.png" alt="Separator 2" class="separator" />
			</div>

			<section id="rotation-and-spell-priority">
				<h2 class="section-header">
					<img src="/images/itemIcons/inv_misc_food_03.jpg" alt="Trinkets Icon" class="section-icon">
					BEST Protection PALADIN ROTATION AND SPELL PRIORY
				</h2>

                <div class="single-button-rotation">
                    For healers, the rotation assistant only uses DPS abilities. It will not use any healing spells, and it will not target your allies in any way. The rotation assistant is therefore not useful for us, and if you want to use the Single Button Assistant on your Paladin, you are better of playing Retribution so you at least do some actual damage.
                    Rotation Assist Losses for Protection Paladin
                    Because the Rotation Assistant does not use healing spells, it does not use  Protection Shock even though it is one of our best DPS abilities. It also does not use Protection Power, not even to cast  Shield of the Righteous. Combining these two factors means the Rotation Assistant often has giant gaps between its spell usage as it frequently has no available spell to cast, and as such it is a huge DPS loss to use it.
                    Protection Paladin DPS Spells and Cooldowns Not Used by Rotation Assist
                    Besides not using any healing spells, it also does not use any sort of cooldowns either, so when using both Assisted Highlight and Single-Button Assistant to deal damage as a Protection Paladin, you will still need to use the following spells and cooldowns manually.

                    Click to expand list of cooldowns
                    Avenging Wrath
                    Divine Toll
                    All the different Blessings from  Blessing of Summer
                    Protection Prism
                    Protection Shock
                    Spend Protection Power on  Shield of the Righteous
                    The Rotation Assist is a new tool added in Patch 11.1.7. To learn more about it, check our guide below.
                </div>
            </section>

			<div class="separator-container">
				<img src="~/images/Separators/D2.png" alt="Separator 2" class="separator" />
			</div>

			<section id="major-cooldown-usage">
				<h2 class="section-header">
					<img src="/images/itemIcons/inv_10_jewelcrafting_gem3primal_cut_red.jpg" alt="Trinkets Icon" class="section-icon">
					Protection PALADIN MAJOR COOLDOWN USAGE
				</h2>


                <div class="single-button-rotation">
                    Protection Paladin has access to numerous long cooldown abilities, and it is quite important to use them properly. Some of them, such as  Blessing of Protection,  Divine Shield and  Lay on Hands can be game changing in the right circumstances.

                    When it comes to cooldowns, we have access to  Avenging Wrath,  Divine Toll,  Aura Mastery, and  Beacon of Virtue. I cover  Beacon of Virtue in the advanced section, so be sure to check that out.

                </div>
            </section>

			<div class="separator-container">
				<img src="~/images/Separators/D2.png" alt="Separator 2" class="separator" />
			</div>

			<section id="advanced-insights">
				<h2 class="section-header">
					<img src="/images/itemIcons/inv_10_jewelcrafting_gem3primal_cut_red.jpg" alt="Trinkets Icon" class="section-icon">
					ADVANCED Protection PALADIN INSIGHTS
				</h2>

                <div class="single-button-rotation">
                    <h3>Hero Talents - Herald of the Sun and Lightsmith</h3>
                    <p>
                        As Herald of the Sun it is very important to maximize our  Avenging Wrath and  Awakening windows due to  Sun's Avatar. Specifically, we need to maximize how many  Dawnlight you have out for each given window. For this we need to line up our  Protection Prism (or  Barrier of Faith) with those windows as we can apply a  Dawnlight with your next two Protection Power spenders after casting  Protection Prism.

                        For your normal  Avenging Wrath use, you always want to use  Protection Prism with it. When used together, you can have 6  Dawnlight out, which will do incredible burst healing if the raid is stacked.

                        For  Awakening, you should always use  Protection Prism immediately before or after activating  Awakening, so you can apply both  Dawnlights as fast as possible with two immediate Protection Power spenders in order maximize  Sun's Avatar healing. Remember that  Protection Prism grants a free  Divine Purpose due to  Aurora, so if you enter  Avenging Wrath with 3 Protection Power you always cast 2 Protection Power Spenders right away.
                    </p>                    
                    <p>
                        To maximize the value you get out of  Awakening, you always need to use  Protection Prism together with any  Awakening window. To do this I recommend you strive to cast  Protection Prism on cooldown, unless you're very close to 15  Awakening stacks when  Protection Prism comes off cooldown, and then just hold your  Awakening proc until  Protection Prism is ready next. The proc lasts 30 seconds, so  Protection Prism will always come up before the  Awakening proc wears off.

                        In Mythic+, it can sometimes be a good idea to separate your  Protection Prism from your actual  Avenging Wrath as you often don't need that much healing, and you might benefit more from the expanded coverage that you get from separating them.

                        Another very important thing to know is how  Sun's Avatar works when you have a  Dawnlight active on yourself. When this is the case you simply radiate  Sun's Avatar damage and healing in 5 yard circle around you. This is often preferable to having it on other players as you are more easily able to control the healing and you can hit significantly more players if they are somewhat stacked. I would generally recommend you try to make sure you have one on yourself for every  Avenging Wrath window.
                    </p>
                    <p>
                        As Lightsmith you get an extra spell to use, and it will alternate between  Protection Bulwark and  Sacred Weapon each time you use it. How you use these is pretty straight forward.
                        Protection Bulwark can be used on any player, you can prioritize squishy targets or tanks, but keep in mind that the proc from  Divine Inspiration prefers proccing  Protection Bulwark on tanks, so make sure you don't cast it on players who already have it running. Alternatively, you can also just track the two buffs on yourself and then just cast them whenever you don't have one running.
                        Sacred Weapon should be used on a DPS player if you want it to damage, or on a healer if you want it to heal. Just as with  Protection Bulwark you shouldn't overwrite existing  Sacred Weapons.
                        Sacred Weapon will generally deal the same damage regardless of which DPS you cast it on. As for using it for healing, it can be a good idea to not use it on a Discipline Priest since it will often proc damage for them and thus lose healing procs.
                        As for how you should prioritize these in your rotation, you really just press them on cooldown when it fits in your rotation. You should only really hold them for when you don't have the respective effect active on yourself and otherwise not think much more about it.

                        The Lightsmith talent  Divine Guidance is also quite a powerful one. In dungeons it isn't something you need to think much about as you should be casting  Consecration anyway. If you choose to play it in raids, then you need to prioritize casting  Consecration whenever you have 5  Divine Guidance stacks.

                        The final important talent as Lightsmith is  Hammer and Anvil. This is the talent that makes Crit better than Mastery as Lightsmith since its healing doesn't currently scale with Mastery and it requires  Judgment to crit to do anything. With  Hammer and Anvil your  Judgment Crits will do a decent amount of healing to 5 allies within 20 yards of the target. That 20 yard radius strangely starts from the center of which ever mob you are hitting, meaning that it will hit absolutely no body on very large bosses.
                        Beacon Tips and Tricks  (Click to expand)
                    </p>

                    <h3>Beacon Tips and Tricks</h3>
                    <p>
                        Beacon of Faith and  Beacon of Light
                        Who should you put  Beacon of Faith and  Beacon of Light on? Do you want to move them around often?

                        The answer to these questions is not black and white and it will change between Raiding and Mythic+. The first thing to keep in mind is to never put a Beacon on yourself, not just because of  Light of the Martyr, but also because of  Beacon of the Lightbringer, and because you generally have a lot of self healing, including leech. The best DPS targets in both Mythic+ and Raid are Hunters, Boomkins, and Devastation Evokers.

                        Raid: The most obvious targets to put them on would be tanks, but the fact of the matter is that in modern WoW, tanks just don't need much attention from healers in Raiding. That is not to say that you should never have a beacon on a tank, but they are most often better used on a squishy ranged target. More often than not, if tanks make a mistake and die, your  Beacon of Faith and  Beacon of Light would not have made a difference to save them. If you need to heal your tanks, it is also usually better to keep the Beacons on DPS players and just heal the tanks directly.

                        The reasons we prefer ranged players over melee or tanks is not only because the Beacons themselves will overheal less, but also because of mastery coverage with  Beacon of the Lightbringer. Additionally,  Light's Protection provides 5% damage reduction to both your  Beacon of Light and  Beacon of Faith target.
                        Keeping  Beacon of Faith and  Beacon of Light on two DPS players, will let you and your co-healers ignore those two players for the most part, and will mean you can focus more on healing the rest of the raid.

                        As for whether we want to move them around, the answer is generally no. The global it costs to move is rarely worth it outside of niche situations. It is generally only worth it if you know the target you previously had Beacon on will be out of range due to the raid splitting up or something.

                        Mythic+: Your general Beacon targets in Mythic+ will also be two DPS players whenever there is any group damage happening. However, in Dungeons there are times where little or no group damage is happening and it is only the tank taking damage, in which case it is the correct choice to have a Beacon on the tank. 5% passive damage reduction is nothing to scuff at for a tank in high keys.
                        Beacon of Virtue
                        Beacon of Virtue is an extremely strong cooldown that has to be used as often as possible. It is of utmost importance that you fit your major cooldowns, like  Divine Toll and  Divine Favor in to these windows. With  Light's Protection, the 5% damage reduction is applied to every target with  Beacon of Virtue. So in Mythic+ you can grant the whole group 5% damage reduction for a big hit if you cast it immediately before the damage.

                        As Lightsmith, when consuming an  Awakening proc, you want to cast  Beacon of Virtue prior to casting the  Judgment to make sure you get the guaranteed  Hammer and Anvil proc inside it.

                        Another thing you can do with  Beacon of Virtue is pre-cast spells in to it and still have them transfer their healing to the Beacons. To do this you simply cast a  Flash of Light or  Protection Light and spell queue  Beacon of Virtue out of the cast. Keep in mind that, for whatever reason, this does not work if you cast the  Flash of Light or  Protection Light on yourself. This is not something you need to go out of your way to do for every  Beacon of Virtue, but if it happens to line up, then it is a nice bonus. This also works with  Beacon of Faith and  Beacon of Light but isn't ever relevant.
                        Note that this does NOT seem to work when you have  Divine Favor.

                        You should try to avoid casting  Beacon of Virtue on ranged targets that are standing far away from the rest of the group as they might not have 4 other targets within 30 yards of them for  Beacon of Virtue to apply to. This is especially important in Mythic+ where this can happen more often than you would think. In Mythic+ you can counteract this by always casting  Beacon of Virtue on yourself and keep yourself centrally placed, usually in melee, and that way ensure you always hit all five players, but keep in mind to not carry this habit in to raiding where it would be a significant loss to always cast  Beacon of Virtue on yourself.
                    </p>
                    <h3>How do I solve potential mana issues?</h3>
                    <p>The first thing to consider if you run into mana problems is to make sure you're using Mana Potions and  Blessing of Winter, and the next thing to consider is if you are casting too many  Protection Light.  Protection Light is extremely expensive and you cannot afford to cast it more than couple of times a minute without  Divine Favor, and on longer fights you might even have to forgo using it even with  Divine Favor. The last thing to look at is to change away from  Beacon of Virtue if you are playing that.</p>
                    <p>
                        It is still very possible to have mana problems even if you are playing  Beacon of Faith, use Mana Potions and  Blessing of Winter, and you are not casting  Protection Light much, if at all. If this is the case, it is actually a good sign because it means you are playing well and filling every possible GCD. However, there sadly isn't a good or easy way to solve this issue with how Protection Paladin is designed.
                    </p>
                    <p>The only way to save more mana in this case, is to begin casting  Protection Shock offensively in healing down time as this refunds half its mana cost with the  Light's Conviction talent. If this still isn't enough, you will need to skip casting it at all in periods of low healing requirement and instead just cast things like  Flash of Light and  Crusader Strike. In my opinion, this is incredibly poor class design, but it is sadly how things are right now.  Protection Shock is simply too expensive, and it is in fact one of our worst spells when it comes to its mana efficiency.</p>
                </div>
            </section>
		</div>
	</div>
</div>
</body>