@using Microsoft.AspNetCore.Mvc.ViewFeatures
@model PaladinHub.Models.CombinedViewModel
@inherits PaladinHub.Views.Shared.SpellsAndItemsView
@*<link rel="stylesheet" href="~/css/protectionTalents.css" />*@
@{
    ViewData["Title"] = "Protection Paladin Talents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="outer-wrapper">
        <div class="page-container">
            <div class="main-wrapper">

                <section id="overview">
                    <p>
                        Explore the depths of the Protection Paladin Talent Tree, which has immense power and many customization options.
                        In this Protection Paladin guide, we review all the different abilities and talents in Patch 11.1 & Season 2, including what they do and when to use them.
                    </p>

                    <h3>Sections Covered:</h3>
                    <div class="section-buttons">
                        <a href="#builds">Talent Builds</a>
                        <a href="#hero-talents">Hero Talents</a>
                        <a href="#rotation">Rotation</a>
                        <a href="#gear">Gear</a>
                        <a href="#leveling">Leveling</a>
                        <a href="#abilities">Abilities & Talents</a>
                        <a href="#stats">Stats</a>
                        <a href="#consumables">Consumables</a>
                        <a href="#addons">WA & Addons</a>
                    </div>
                </section>

                }

            <section class="mb-4">
                @await Html.PartialAsync(
                    "~/Views/Shared/TalentTrees/_SectionTalentTrees.cshtml",
                    Model,
                    new ViewDataDictionary(ViewData) {
                        ["keys"] = new[] { "paladin", "protection-lightsmith", "protection" }
                    })
            </section>

            <section class="mb-4">
                @await Html.PartialAsync(
                    "~/Views/Shared/TalentTrees/_SectionTalentTrees.cshtml",
                    Model,
                    new ViewDataDictionary(ViewData) {
                        ["keys"] = new[] { "paladin", "protection-templar", "protection" }
                    })
            </section>


                <section id="overview">
                    <p>
                        Explore the depths of the Protection Paladin Talent Tree, which has immense power and many customization options.
                        In this Protection Paladin guide, we review all the different abilities and talents in Patch 11.1 & Season 2, including what they do and when to use them.
                    </p>

                    <h3>Sections Covered:</h3>
                    <div class="section-buttons">
                        <a href="#builds">Talent Builds</a>
                        <a href="#hero-talents">Hero Talents</a>
                        <a href="#rotation">Rotation</a>
                        <a href="#gear">Gear</a>
                        <a href="#leveling">Leveling</a>
                        <a href="#abilities">Abilities & Talents</a>
                        <a href="#stats">Stats</a>
                        <a href="#consumables">Consumables</a>
                        <a href="#addons">WA & Addons</a>
                    </div>
                </section>

            </div>
        </div>
    </div>
</body>
